@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
}

:root {
    --azul: #012171;
    --sombra: rgba(0, 0, 14, 0.163);
}

body {
    background-color: #012171 !important;
  }

.container{
    margin-top: 10%;
}

.bold-title {
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin-top: 30%;
}

label{
    color: white;
    font-weight: bold;
}

form{
        input{
            background-color: transparent;
            font-size: 18px;
            padding: 8px 8px 8px 4px;
            display: block;
            width: 100%;
            border: none;
            border-bottom: 1px solid white;
            color: white;
            height: 1rem;
        }

    input:focus{
        outline: none;
        box-shadow: none;
        color: white;
      }

    select:focus{
        height: 4vh;
    }  
}

.form-cadastro{
    margin-top: 20%;
    margin-bottom: 20%;
}

.save-btn{  
    border-radius: 20px;
    width: 40vw;
    border:none;
    font-weight: 600;
    height: 4vh;
}

