html, body{
    height: 110%;
    min-height: 100%;
    background: linear-gradient(#012171, #023FD7);
    background-repeat: no-repeat;
}

button.botao-confirmacao{
        padding: 0;
        background-color: transparent;
        outline: none;
        border: none;
        -webkit-transition: color .2s;
        -o-transition: color .2s;
        transition: color .2s; 
}

button.botao-pedido, button.botao-edicao, button.botao-salvar{
    outline: none;
    border-style: none;
    background: linear-gradient(45deg, #012171, #023FD7)
}

button#confirmButton {
    position: fixed;
    bottom: 20px; 
    right: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button.rounded-button {
    outline: none;
    border: none;
    color: white;
}

button#confirmButton:hover {
    background-color: #0056b3;
}


.is-valid, .is-invalid{
 z-index: 0 !important;
}

#search::-webkit-search-cancel-button{
    position:relative;
    right:20px;    
}